extends ../index.pug

block title
  | #{ templatedTitle('Synchronisations') }

block content
  if syncs.length === 0
    p #{ __("You have no syncs set up yet, do you want to create a new one?") }
  else
    form(action="/syncs/delete", method="POST")
      ul.my-6
        each sync in syncs
          li.flex.items-center.justify-center.gap-6
            label.flex.items-center.gap-2.flex-1
              input.peer.border.p-2.flex.gap-2.items-center(
                type="checkbox",
                name="syncs",
                value=sync.id
              )
              if sync.source.image
                img.w-12.h-12.rounded-full(src=sync.source.image, alt="")
              div
                p.text-lg #{ sync.source.name }
                case sync.source.sourceType
                  when 'FB_SOURCE'
                    p #{ __('Facebook') }
                  when 'EVENTBRITE_SOURCE'
                    p #{ __('Eventbrite') }
                  when 'MEETUP_SOURCE'
                    p #{ __('Meetup') }
                  when 'ICS_SOURCE'
                    p #{ __('ICS file') }
                  when 'MBZ_SOURCE'
                    p #{ __('Mobilizon') }
                  default
                    p #{ __('Generic') }
                a.text-sm.text-gray(href=sync.source.url, target="_blank") 🔗 #{ sync.source.url }
              p ▶️
              .border.p-2.flex.gap-2.items-center
                if sync.destination.imageUrl
                  img.w-12.h-12.rounded-full(
                    src=sync.destination.imageUrl,
                    height=50,
                    width=50
                  )
                div
                  p.text-lg #{ sync.destination.name }
                  case sync.destination.type
                    when 'MBZ_DESTINATION'
                      p #{ __('Mobilizon') }
                    when 'WEBHOOK_DESTINATION'
                      p #{ __('Webhook') }
                  a.text-sm.text-gray(
                    href=sync.destination.targetUrl,
                    target="_blank"
                  ) 🔗 #{ sync.destination.targetUrl }
        if syncs.length > 0
          button.button-outlined(type="submit") #{ __('Delete sync') }
  p
    a.button-primary(href="/syncs/new") #{ __('Add new sync') }
