extends index.pug

block title
  | #{ __('Mobilizon importer service') }

block content
  section.bg-white.dark_bg-gray-900
    .grid.max-w-screen-xl.px-4.py-8.mx-auto.lg_gap-8.xl_gap-0.lg_py-16.lg_grid-cols-12
      .mr-auto.place-self-center.lg_col-span-7
        h1.max-w-2xl.mb-4.text-4xl.font-extrabold.tracking-tight.leading-none.md_text-5xl.xl_text-6xl.dark_text-white #{ __('Simply import your events to Mobilizon') }
        p.max-w-2xl.mb-6.text-gray-500.lg_mb-8.md_text-lg.lg_text-xl.dark_text-gray-400 #{ __("Import a single event or setup synchronisation from the platforms you're already using to your Mobilizon account") }
        .flex.gap-2.flex-wrap.justify-center
          a.button-primary.text-lg.flex.items-center(href="/mobilizon/oauth") 
            span #{ __('Get started') }
            span.w-5.h-5.ml-2
              include icons/arrow_right.svg
          a.button-outlined(href="/crawl") #{ __('Preview importing an event') }
      .hidden.lg_mt-0.lg_col-span-5.lg_flex.w-60.h-60
        include icons/multiple-imports-icon.svg
  .max-w-3xl.mx-auto
    section.flex.flex-wrap.gap-4.items-center.justify-center.lg_justify-normal.mb-6.lg_mb-8
      .h-24.w-24.dark_fill-white
        include icons/freedom.svg
      p.max-w-2xl.text-gray-500.md_text-lg.lg_text-xl.dark_text-gray-400.flex-1 !{ __('Break down the walls of closed proprietary services to publish on the platforms <b>of your choice</b>') }

    section.flex.flex-wrap.gap-4.items-center.justify-center.lg_justify-normal.mb-6.lg_mb-8.flex-row-reverse
      .h-24.w-24.dark_fill-white
        include icons/multiple-imports.svg
      p.max-w-2xl.text-gray-500.md_text-lg.lg_text-xl.dark_text-gray-400.flex-1 !{ __('Setup synchronisation from platforms like <b>Meetup and Eventbrite</b> (Facebook comming up soon), or use a public ICS feed as source') }

    section.flex.flex-wrap.gap-4.items-center.justify-center.lg_justify-normal.mb-6.lg_mb-8
      .h-24.w-24.dark_fill-white
        include icons/group.svg
      p.max-w-2xl.text-gray-500.md_text-lg.lg_text-xl.dark_text-gray-400.flex-1 #{ __('Simply login using your existing Mobilizon account and pick your destination among your Mobilizon profiles or groups') }

    section.flex.flex-wrap.gap-4.items-center.justify-center.lg_justify-normal.mb-6.lg_mb-8.flex-row-reverse
      .h-24.w-24.dark_fill-white
        include icons/calendar_refresh.svg
      p.max-w-2xl.text-gray-500.md_text-lg.lg_text-xl.dark_text-gray-400.flex-1 !{ __('Sources will be regularily crawled so that the new events will be <b>published and updated</b>') }

    section.flex.flex-wrap.gap-4.items-center.justify-center.lg_justify-normal.mb-6.lg_mb-8
      .h-24.w-24.dark_fill-white
        include icons/webhook.svg
      p.max-w-2xl.text-gray-500.md_text-lg.lg_text-xl.dark_text-gray-400.flex-1 #{ __('This tool also provides webhook functionnalities, and can be used to subscribe to a group or remote channel. Or you can simply convert an event to .ics format') }
