doctype html
html.h-full(lang="fr")
  head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(charset="utf-8")
    title
      block title
      | #{ title }
    block scripts
    link(rel="stylesheet", href="/output.css")
    link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
    link(
      rel="icon",
      type="image/png",
      sizes="32x32",
      href="/favicon-32x32.png"
    )
    link(
      rel="icon",
      type="image/png",
      sizes="16x16",
      href="/favicon-16x16.png"
    )
    meta(
      name="description",
      content=__("Simply import your events to Mobilizon")
    )
    meta(property="og:site_name", content=__("Mobilizon importer service"))
    meta(property="og:title", content=__("Mobilizon importer service"))
    meta(property="og:image", content="/multiple-imports-icon.png")
    meta(property="og:image:type", content="image/png")
    meta(property="og:image:width", content="256")
    meta(property="og:image:height", content="244")
    meta(name="twitter:card", content="summary_large_image")
    meta(name="twitter:title", content=__("Mobilizon importer service"))
    meta(
      name="twitter:description",
      content=__("Simply import your events to Mobilizon")
    )
    meta(name="twitter:image", content="/multiple-imports-icon.png")
    script
      include scripts/p.js
    block head
  body.bg-white.dark_bg-slate-900.text-slate-500.dark_text-slate-400.h-full.flex.flex-col
    nav.container.justify-between.flex.flex-col.gap-2.lg_flex-row.mx-auto.sticky.w-full.bg-white_95.pt-2
      ul.flex.flex-col.lg_flex-row.w-100.lg_w-auto.gap-3.items-center.text-xl
        li
          a.text-slate-900.dark_text-white.font-bold(href="/") #{ __('Mobilizon importer service') }
        if user
          li
            a(href="/sources") #{ __('Sources') }
          li
            a(href="/destinations") #{ __('Destinations') }
        if facebookEnabled
          li
            a(href="/facebook") #{ __('Facebook') }

      if user
        .flex.gap-2.justify-center
          if user.avatar
            img.w-10.h-10.rounded-full(src=user.avatar, height=50, width=50)
          div
            p.text-slate-900.font-semibold.dark_text-white #{ user.name }
            p.leading-3.text-sm.text-slate-700.dark_text-slate-300 @#{ user.username }
          a(href="/logout")
            span.sr-only #{ __('Logout') }
            .h-10.w-10
              include icons/logout.svg
      block nav
    .container.mx-auto.mt-6.flex-1
      block flash
        - let successMessages = getFlashMessages("success");
        - let warningMessages = getFlashMessages("warning");
        - let errorMessages = getFlashMessages("error");
        if successMessages.length > 0
          ul
            each message in successMessages
              li.flash-message.text-green-800.bg-green-50.dark_bg-gray-800.dark_text-green-400(
                role="alert"
              )= message
        if warningMessages.length > 0
          ul
            each message in warningMessages
              li.flash-message.text-yellow-800.bg-yellow-50.dark_bg-gray-800.dark_text-yellow-400(
                role="alert"
              )= message
        if errorMessages.length > 0
          ul
            each message in errorMessages
              li.flash-message.text-red-800.bg-red-50.dark_bg-gray-800.dark_text-red-400(
                role="alert"
              )= message
      main.px-2
        block content
    footer.shrink-0.bg-mbz-yellow-400.dark_bg-mbz-purple-300.text-slate-800.pb-6.px-2
      block footer
        .container.mx-auto.flex.flex-wrap.gap-6.justify-around
          div
            h2.mt-4.mb-3.text-2xl #{ __('Contact us!') }
            p.flex.flex-wrap.gap-2
              a.inline-flex.items-center.gap-1(
                href="https://twitter.com/@joinmobilizon",
                rel="me"
              )
                span.h-4.w-4
                  include icons/twitter.svg
                span JoinMobilizon
              a.inline-flex.items-center.gap-1(
                rel="me",
                href="https://framapiaf.org/@mobilizon"
              )
                span.h-4.w-4
                  include icons/mastodon.svg
                span Mobilizon
              a.inline-flex.items-center.gap-1(
                href="https://framagit.org/framasoft/mobilizon"
              )
                span.h-4.w-4
                  include icons/gitlab.svg
                span #{ __('Source') }
              a.inline-flex.items-center.gap-1(
                href="https://framacolibri.org/c/mobilizon/39"
              )
                span.h-4.w-4
                  include icons/forum.svg
                span #{ __('Forum') }
              a.inline-flex.items-center.gap-1(
                href="https://matrix.to/#/#Mobilizon:matrix.org",
                rel="nofollow"
              )
                span.h-4.w-4
                  include icons/matrix.svg
                span #{ __('Chat') }
              a.inline-flex.items-center.gap-1(
                href="https://joinmobilizon.org/news"
              )
                span.h-4.w-4
                  include icons/email.svg
                span #{ __('Subscribe to the newsletter') }
            h2.mt-4.mb-3.text-2xl #{ __('About') }
            p.flex.flex-wrap.gap-2
              a(href="https://framasoft.org/legals") #{ __('Legal Information') }
              a(href="/about#credits") #{ __('Credits') }
              a(href="/about#license") #{ __('License') }
              a(href="/about#icons") #{ __('Icons') }
            p
              | !{ __('© {{year}} {{{framasoft}}} and the Mobilizon contributors', { year: 2023, framasoft: `<a href="https://framasoft.org">Framasoft</a>` }) } 
              a(
                href="https://framagit.org/framasoft/joinmobilizon/event-importer/"
              ) AGPL-3.0
          div
            p.mt-4.mx-auto.h-16.fill-mbz-purple.dark_fill-mbz-yellow
              include icons/logo-mbz-yellow.svg
            img.mt-4.mx-auto.h-24(src="/mbz-footer.png", alt="")
