extends ../index.pug

block title
  | #{ templatedTitle('Event preview') }

block head
  script
    include ../scripts/downloadIcs.js

block content
  h2.text-3xl #{ __('Preview of event to be imported') }
  .flex.justify-around.flex-col-reverse.lg_flex-row.flex-wrap.gap-4.mt-4.overflow-scroll.bg-slate-200.dark_bg-slate-700.dark_text-white&attributes({class: 'max-h-[70vh]'})
    .bg-white.p-5.dark_bg-slate-600.h-full
      if event.url
        a(href=event.url)
          h3.text-2xl.font-bold #{ event.name }
      else
        h3.text-2xl.font-bold #{ event.name }

      h4.text-xl #{ __('Details') }

      article.prose.lg_prose-xl.dark_prose-invert.h-full !{ event.description }
    .flex.flex-col.gap-3.max-w-full.lg_max-w-xs
      if event.image
        img.w-100.h-auto(src=event.image, alt="")
      .bg-white.p-5.dark_bg-slate-600
        if sameDay(event.startDate, event.endDate)
          span #{ __('On {{day}} from {{startTime}} to {{endTime}}', {day: dayFormat(event.startDate, locale), startTime: timeFormat(event.startDate, locale), endTime: timeFormat(event.endDate, locale)}) }
        else if event.endDate
          span !{ __('From {{{startDate}}} to {{{endDate}}}', { startDate: `<time datetime="${event.startDate.toISOString()}">${dateFormat(event.startDate, locale)}</time>`, endDate: `<time datetime="${event.endDate.toISOString()}">${dateFormat(event.endDate, locale)}</time>` }) }
        else
          time= dateFormat(event.startDate, locale)
      if event.location
        .bg-white.p-5.dark_bg-slate-600
          address
            | #{ event.location.name }
            br
            if event.location.address
              | #{ event.location.address.streetAddress }
              br
              | #{ event.location.address.postalCode } #{ event.location.address.addressLocality }
      if event.organizer
        .bg-white.p-5.dark_bg-slate-600
          a.flex.items-center.gap-2(href=event.organizer.url)
            if event.image
              img.w-16(src=event.image, alt="")
            else
              .h-12.w-12.rounded-full.fill-mbz-yellow-500
                include ../icons/account.svg
            b #{ event.organizer.name }
      if event.tags && event.tags.length > 0
        .bg-white.p-5.dark_bg-slate-600
          ul
          each tag in event.tags
            li= tag
  .my-6
    if user && originUrl && destinations && destinations.length > 0
      form.my-6.px-3(method="POST", action="/syncs/import")
        h2.text-3xl #{ __('Import the event to a destination') }
        .flex.flex-wrap.gap-2
          select(name="destinationId")
            each destination in destinations 
              option(value=destination.id) #{ destination.name }
          input(type="hidden", name="sourceURL", value=originUrl)
          button.button-primary(type="submit") #{ __('Import') }
    else if user
      p #{ __('To import this event to your Mobilizon profile or group, add a destination') }
      a.button-primary(href="/destinations/new") #{ __('Add a destination') }
    else
      p #{ __('To import this event to your Mobilizon profile or group, connect to your account') }
      a.button-primary(href="/mobilizon/oauth") #{ __('Connect to Mobilizon') }
      if ics
        p #{ __('Export the event to .ics') }
        button.button-outlined(
          href="/crawl/export",
          data-ics-text=ics.value,
          data-ics-name=ics.name,
          data-ics-download="true"
        ) #{ __('Export to ICS') }
